.sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    background-color:#2e3447;
    border-right: 1px solid #eee;
  }
  .sidebar ul li{
    color: #646b82;
    transition: all .3s ease-in-out;
    text-decoration: none;
    cursor: pointer;
  }
  .sidebar ul li:hover{
    color: #fff;
    background: transparent;
    cursor: pointer;
  }

  .list-item, .soulist li{
    line-height: 40px;
  }
  .soulist{
  background: #000;
  width: 250px;
  margin-left: -20px;
  padding-left: 30px;
}
  .sidebar .list-item .caret {
    color: #646b82;
    margin-left: 10px;
  }
  .sidebar .list-item .caret:hover{
    color: #fff;
    margin-left: 10px;
  }
  .active {
    color: #fff !important;
  }
  